@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

html {
    font-family: Roboto;
    background-color: white;
    height:1080px;
    overflow-x:hidden;
}

.main {
    font-size: 20px;
}

//Tools

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    display: flex;
    justify-content: center;
}

.text-align-center {
    text-align:center;
}


//HomeBtn 

.home-btn-span {
    top: 960px;
    position: fixed;
    width:100%;
    z-index: 1;
    text-align: right;
}

.home-btn-container {
    transform:translateX(-50px);
}

.home-btn {
    height:70px;
    width:70px;
    border-radius: 50%;
    animation: 1s ease-out 0s 1 bounce;

    &:hover {
        animation: 1s ease-out 0s 1 hoverbounce;
        animation-iteration-count: infinite;
    }

    &:active {
        animation: 2s ease-out 0s 1 clickbounce;
    }

}

.home-icon {
    font-size: 40px;
    transform:translateY(15px);
}

@keyframes clickbounce {
    0% {
        transform: scale(0%)
    }
    25% {
        transform: scale(125%);
    }
    50% {
        transform: scale(75%);
    }
    75% {
        transform: scale(115%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes hoverbounce {

    0% {
        transform: scale(90%);
    }
    25% {
        transform: scale(110%);
    }
    50% {
        transform: scale(95%);
    }
    75% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }

}



@keyframes bounce {

    0% {
        transform: scale(0%)
    }
    25% {
        transform: scale(125%);
    }
    50% {
        transform: scale(75%);
    }
    75% {
        transform: scale(115%);
    }
    100% {
        transform: scale(100%);
    }

  }


//Navigation

.nav-logo {
    width: 85px;
    height: 85px;
    margin-top: 40px;
}

.nav-side-bar-trigger {
    color: #212121;
}

.nav-logo-name {
    font-family: 'Allison', cursive;
    top:-17px;
}


//Welcome page

.parallax-container {
    margin:none;
}

.welcome-message {
    height: 450px;
}

.quote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #00838f;
    font-weight: 600;
}

.quote-form-submit {

    &:hover {
        cursor: pointer;
    }

}
.message-form {

    textarea {
        height:200px;
        padding: 10px;
    }
    
}

.welcome-divider {
    height: 60px;
}

.welcome-img-2 {
    height:500px;
}

.testimonal-quote {
    margin:0px 20px;
    text-align: center;
}

.testimonal-name {
    font-weight: 700;
}


//About page

.steps-icon {
    font-size: 50px;
}

.step-divider {
    height: 20px;
}


//Footer


li {
    list-style: none;
}
    
.social-footer-icon {
    font-size: 30px;
    margin: 0px 10px;

    &:hover {
        cursor: pointer;
        color: #e0e0e0;

    }
}

.footer-info-links {
    
    &:hover {
        text-decoration: underline;
    }

}



@import '_mediaQueries.scss';